Link{
    text-decoration: none;
}
.dash-link{
    list-style-type: none;
    text-transform: uppercase;
    margin-bottom: 2rem;
    

}
.links{
   text-decoration: none;
   color: #fff
    
}
.bell{
    color: black;
    margin: 1.5rem 1rem ;
}
.sidebar{
    left: 0;
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: rgb(26, 26, 29);
    color: #fff;
}

.header{
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0;
    background-color: rgb(158, 154, 149);
    font-size: xx-large;
}

.dash-links{
    list-style-type: none;
    text-transform: uppercase;
    margin-top: 15rem;
}
.links :hover{
    background-color: #fff;
    color:#000;
    border-radius: 10px;
    padding: .5rem;
}
.dash-link :hover{
    background-color: #fff;
    color:#000;
    border-radius: 10px;
    padding: .5rem;
}
.fa{
    margin-right: 1rem;
}
.top-header{
    display: flex;
}
.top-header p{
    margin-left: 2rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav-link{
    list-style-type: none;
    margin-left: 5rem;
    padding: 0;
    color: #fff;
    /* color: #000; */
}

 
.Nav-list{
    display: flex;
    
}
.link{
    /* color: #fff; */
    text-transform: uppercase;
}
.dash-list{
    padding: 1rem;
}
.sidebar h3{
    padding: 1rem;
}
th, td{
    border: 1px solid #ddd;
    padding: 1rem;
}

table{
    width: 100%;
    margin: 2rem 1rem;
}
th{
    background-color: #04AA6D;
}
.about-link{
    color: #000;
    text-decoration: none;
}
.card-box{
    display: flex;
    margin-top: 2rem;
}
.cards{
    margin: 2rem;
    background-color:rgb(216, 212, 207);
    border-radius: 10px;
    width: 100%;
    padding: 2rem 1rem;
}
.cards img{
    width: 100%;
}
.card-title{
    text-transform: uppercase;
    margin: 1rem 0;
}
span{
    font-weight: 700;
}
.product-title{
    text-align: center;
    margin-top: 2rem;
}
.profile-img{
    width: 5%;
}
.w3-button{
    display: none;
    
}
.w3-bar-item{
    display: none;
   
}
@media screen and (max-width: 600px) {
    .card-box{
        display: block;
    }

    .sidebar {
        left:100;
        /* width: 0px; */
        height: auto;
        /* display: none; */
     position: absolute;
     
        transition: 850ms;
    }
  
    .w3-bar-item, .w3-button{
        display: block;
        text-align: center;
        margin: 1rem;
    }
    /* .sidebar-mobile{
        left: 0;
        
        /* width: 50px; */
    /* } */
 
   .menu-icon {
        color: #000;
        position: absolute;
        /* right: 0; */
        z-index: 9999;
        line-height: 20px;
        /* border-radius: 50%; */
        font-weight: bold;
        /* font-size: 22px; */
        /* top: 55px; */
        cursor: pointer;
      }
    .profile-img{
        width: 10%;
        }
  
}